/*滚动条凹槽的颜色，还可以设置边框属性 */
*::-webkit-scrollbar-track-piece {
  background-color:#f8f8f8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*滚动条的宽度*/
*::-webkit-scrollbar {
  width:9px;
  height: 9px;
}
/*滚动条的设置*/
*::-webkit-scrollbar-thumb {
  background-color:#dddddd;
  background-clip:padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*滚动条鼠标移上去*/
*::-webkit-scrollbar-thumb:hover {
  background-color:#bbb;
}

/* router view transition */
.zoom-fade-enter-active,
.zoom-fade-leave-active {
  transition: transform 0.35s, opacity 0.28s ease-in-out;
}

.zoom-fade-enter-from {
  opacity: 0;
  transform: scale(0.97);
}

.zoom-fade-leave-to {
  opacity: 0;
  transform: scale(1.03);
}


//自定义
.flex-bet{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.z-flex{
  display: flex;
}
.z-flex-justify{
  justify-items: center;
}
.z-flex-align{
  align-items: center;
}
.z-flex-sub1{
  flex: 1;
}

.w100{
  width: 100%;
}
.z-margin-center{
  margin: 0 auto;
}
.z-mt18{
  margin-top: 18px !important;
}
.z-mt10{
  margin-top: 10px !important;
}


.z-text-center{
  text-align: center;
}
.fontsize14{
  font-size: 14px;
}
.fontsize16{
  font-size: 16px;
}
.fontsize18{
  font-size: 18px;
}
.fontsize20{
  font-size: 20px;
}
.fontsize22{
  font-size: 22px;
}
.fontsize24{
  font-size: 24px;
}
.fontcolor00085{
  color: rgba(0,0,0,0.85);
}
.fontcolor00025{
  color: rgba(0,0,0,0.25);
}
.fontcolor00045{
  color: rgba(0,0,0,0.45);
}
.fontcolor00065{
  color: rgba(0,0,0,0.65);
}
